includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 5
    paths:
        - app/
        - database/
        - tests/
    tmpDir: storage/phpstan
    ignoreErrors:
        -
            message: '#Trait .+ is used zero times and is not analysed#'
            paths:
                - app/Models/Traits/HasCostVisibility.php
                - app/Models/Traits/HasStoreScoping.php
    scanDirectories:
        - tests/
    universalObjectCratesClasses:
        - Signals\PHPStan\PestTestCase

services:
    -
        class: Signals\PHPStan\PestTestClosureThisExtension
        tags:
            - phpstan.functionParameterClosureThisExtension
